---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Claudio Ramírez - Ingenierio Cívil informático">
    <Header />
    <main class="max-w-screen-lg m-auto p-16">
        <Hero />
    </main>
</Layout>
