---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Tools from "../components/Tools.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Claudio Ramírez - Ingenierio Cívil informático">
    <Header />
    <main class="max-w-screen-lg m-auto p-16">
        <Hero />
        <Experience />
        <Projects />
        <Tools />
        <About />
        <!-- <Contact /> -->
    </main>
</Layout>
