---
import SectionTitle from "./SectionTitle.astro";
---

<section id="about" class="my-12">
    <SectionTitle title="Sobre mi" />
    <p>
        Habitante de la ciudad de Punta Arenas, Chile. Me gradue de la carrera
        de Ingeniería Cívil en Computación e Informática en la Universidad de
        Magallanes en el año 2022. Me gusta desarrollar aplicaciones con una
        interfaz gráfica atractiva, lo cual me ha llevado enfocarme en el mundo
        del desarrollo Web, mediante el cual puedo llevar a cabo mis ideas y
        compartirlas con el resto de gente de una forma rapida y sencilla.
    </p>
    <br />
    <p>
        Pese a que mi principal enforque ha sido el Frontend con tecnologias
        como React, VueJS y Angular; también tengo experiencia en el desarrollo
        Backend para el desarrollo de aplicaciones Full Stack con FastAPI y
        ExpressJS, asi como menajo de base de datos SQL como MySQL y PostgreSQL.
    </p>
</section>
