---
import SectionTitle from "./SectionTitle.astro";
---

<section id="about" class="my-12">
    <SectionTitle title="Sobre mi" />
    <p>
        Habitante de la ciudad de Punta Arenas, Chile. Me gradué de la carrera
        de Ingeniería Civil en Computación e Informática en la Universidad de
        Magallanes en el año 2022. Me gusta desarrollar aplicaciones con una
        interfaz gráfica atractiva, lo cual me ha llevado enfocarme en el mundo
        del desarrollo Web, mediante el cual puedo llevar a cabo mis ideas y
        compartirlas con el resto de gente de una forma rápida y sencilla.
    </p>
    <br />
    <p>
        Pese a que mi principal enfoque ha sido el Frontend con tecnologías como
        React, VueJS y Angular; también tengo experiencia en el desarrollo
        Backend para el desarrollo de aplicaciones Full Stack con FastAPI y
        ExpressJS, asi como manejo de base de datos SQL como MySQL y PostgreSQL.
    </p>
</section>
