---
interface Props {
    title: string;
    img: string;
    description: string;
}

const { description, title, img } = Astro.props;
---

<li
    class="group relative list-none p-4 bg-[#8b07a533] shadow-lg rounded-xl border-2 border-purple-700"
>
    <div class="flex flex-col group-hover:opacity-10">
        <h2 class="text-lg font-bold text-[#f512d6] text-center">
            {title}
        </h2>
        <img src={img} alt={title} class="mt-2 mb-0 h-16" />
    </div>
    <p class="hidden group-hover:block absolute top-4 text-sm text-left">
        {description}
    </p>
</li>
