---
interface Props {
    role: string;
    company: string;
    startDate: string;
    endDate: string;
}

const { role, company, startDate, endDate } = Astro.props;
---

<div class="bg-zinc-800/75 shadow-lg rounded-xl p-4 border-2 border-purple-700">
    <div class="flex flex-col mb-2">
        <div class="flex justify-between">
            <h3 class="text-2xl font-bold text-[#f512d6]">{company}</h3>
            <span class="font-semibold text-[#f512d6]"
                >{startDate} - {endDate}</span
            >
        </div>
        <span class="text-sm text-gray-300">{role}</span>
    </div>
    <slot />
</div>
