---
import Link from "./Link.astro";
---

<header class="flex justify-center p-8 bg-zinc-800/75">
    <nav>
        <ul class="flex gap-8 w-full">
            <li>
                <Link href="/" label="Inicio" />
            </li>
            <li>
                <Link href="#about" label="Sobre mi" />
            </li>
            <li>
                <Link href="#experience" label="Experiencia" />
            </li>
            <li>
                <Link href="#tools" label="Herramientas" />
            </li>
            <li>
                <Link href="#projects" label="Proyectos" />
            </li>
            <li>
                <Link href="#contact" label="Contacto" />
            </li>
        </ul>
    </nav>
    <div></div>
</header>
